version: '3.8'

services:
  mongo:
    image: mongo:7
    container_name: e-commerce-mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_DATABASE: pokemon_shop
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db

  api:
    build: .
    container_name: e-commerce-api
    restart: unless-stopped
    depends_on:
      - mongo
    environment:
      NODE_ENV: production
      PORT: 3000
      MONGODB_URI: mongodb://mongo:27017/pokemon_shop
    ports:
      - '3000:3000'

volumes:
  mongo_data:
